*{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 815px;
    height: 520px;
    /* border: 2px solid red; */
    margin: auto;
    border-radius: 5px;
}

#translate{
    background-color: #5172E7;
    width: 815px;
    height: 62px;
    border: none;
    font: 24xp;
    border-radius: 4px;
    color: #fff;
}

.controls{
    width: auto;
    display: flex;
    height: 520px;
    /* border: 2px solid teal; */
    /* justify-content: space-between; - just removed this later, no idea why was it there in the first place  */
    align-items: center;

}


button{
    width: 36px;
    height: 36px;
}
.wrapper{
    width: auto;
    display: flex;
    height: 450px;
    flex-direction: column;
    
}


.input-text{
    flex-grow: 1;
    /* height: 378px; */
    /* position: absolute; */
    /* border: 2px solid rgb(207, 207, 207); */
}

.output-text{
    flex-grow: 1;
    
    /* border: 2px solid yellow; */
    /* border: 2px solid rgb(207, 207, 207); */
}

.text-fields{
    /* border: 2px solid red; */
    display: flex;
}

.input{
    /* border: 2px solid pink; */
    display: flex;
    
    align-items: center;
    flex-grow: 1;
    
}


.output{
    /* border: 2px solid pink; */
    display: flex;
    flex-grow: 1;
    align-items: center;
}


.input .language{
    align-items: center;
    /* border: 2px solid brown; */
    align-items: center;
    display: flex;
    margin-left: auto;
    /* justify-content: flex-end; */
}


.output .language{
    
    align-items: center;
    /* border: 2px solid brown; */
    align-items: center;
    display: flex;
    margin-right: auto;
    margin-left: 10px;
    /* justify-content: flex-end; */
}


.input{
    align-items: center;
}


.translate-text{
    margin-top: 15px;
}


.container{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid rgb(168, 168, 168);
}

.input, .output{
    padding: 5px;
}

button{
    background-color: #fff;
    border: none!important;
}

.controls .input .sound{ 
    padding-right: 5px;
}
.controls .output .copy{ 
    padding-left: 5px;
}


#language-select{
    height: 40px;
    padding: 5px;
}

.switch img{
    width: 30px;
    height: 30px;
}

/* #language-select{
    border: none!important; 
} */


textarea{
    max-height: 370px;
}

textarea{
    width: auto;
    max-width: 400px;
    max-height: 370px;
    min-width: 400px;
    min-height: 370px;
    
    width: 400px;
    height: 370px;
    display: inline;
    position: inherit;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    
    /* border: 2px solid green; */
}


#translate:hover{
    background-color: #254fe8;
}

select{
    width: 110px;
    height: 40px;
    padding: 2px;
}     